# Entornos virtuales
venv/
.venv/

# Cache de Python
__pycache__/
*.py[cod]

# Archivos de configuración local
.env

# Configuración de editores
.vscode/
.idea/

# Dependencias
node_modules/
.pnpm-debug.log*

# Next.js
.next/
out/

# Variables de entorno (seguridad)
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store


